# Eclipse CDT things
.cproject
.project
.settings
/Debug
/Release
# Common C/C++ things
*.o
*.out
# Doxygen output
/html
/latex
# Project specific things
lib/libggp.so
bin/test
*.ggp
*.pl
!/interface.pl
*.kif
!/test/tictactoe.kif
!/test/breakthrough.kif
!/sample/breakthrough.kif
!/sample/skirmish.kif
*.yap
stanford
games
gdlcc
lib/*
tmp/*
!.gitkeep
